<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustWindowForFontSizeChange</key>
	<false/>
	<key>Command</key>
	<string></string>
	<key>CopySelection</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Tomorrow Night Bright</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019607843138</real>
				<key>Green Component</key>
				<real>0.30588235294117649</real>
				<key>Red Component</key>
				<real>0.83529411764705885</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2901960784</real>
				<key>Green Component</key>
				<real>0.79215686269999996</real>
				<key>Red Component</key>
				<real>0.72549019609999998</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2784313725</real>
				<key>Green Component</key>
				<real>0.7725490196</real>
				<key>Red Component</key>
				<real>0.90588235289999997</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85490196080000003</real>
				<key>Green Component</key>
				<real>0.65098039220000004</real>
				<key>Red Component</key>
				<real>0.47843137250000001</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.84705882349999995</real>
				<key>Green Component</key>
				<real>0.59215686270000001</real>
				<key>Red Component</key>
				<real>0.76470588240000004</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69411764710000001</real>
				<key>Green Component</key>
				<real>0.75294117650000003</real>
				<key>Red Component</key>
				<real>0.43921568630000002</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.29019607843137252</real>
				<key>Green Component</key>
				<real>0.792156862745098</real>
				<key>Red Component</key>
				<real>0.72549019607843135</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27843137254901962</real>
				<key>Green Component</key>
				<real>0.77254901960784317</real>
				<key>Red Component</key>
				<real>0.90588235294117647</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85490196078431369</real>
				<key>Green Component</key>
				<real>0.65098039215686276</real>
				<key>Red Component</key>
				<real>0.47843137254901957</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.84705882352941175</real>
				<key>Green Component</key>
				<real>0.59215686274509804</real>
				<key>Red Component</key>
				<real>0.76470588235294112</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69411764705882351</real>
				<key>Green Component</key>
				<real>0.75294117647058822</real>
				<key>Red Component</key>
				<real>0.4392156862745098</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019610000002</real>
				<key>Green Component</key>
				<real>0.30588235289999999</real>
				<key>Red Component</key>
				<real>0.83529411760000005</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769379999995</real>
				<key>Green Component</key>
				<real>0.91671288009999996</real>
				<key>Red Component</key>
				<real>0.91654461620000005</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769379999995</real>
				<key>Green Component</key>
				<real>0.91671288009999996</real>
				<key>Red Component</key>
				<real>0.91654461620000005</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.26020613312721252</real>
				<key>Green Component</key>
				<real>0.26027005910873413</real>
				<key>Red Component</key>
				<real>0.26022228598594666</real>
			</dict>
		</dict>
	</dict>
	<key>Default Arrangement Name</key>
	<string>Elements run</string>
	<key>Default Bookmark Guid</key>
	<string>30535CDF-F8ED-44C6-93BD-CF908DA67AD2</string>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>EnableDivisionView</key>
	<true/>
	<key>EnableProxyIcon</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<false/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>JobName</key>
	<false/>
	<key>NeverWarnAboutShortLivedSessions_30535CDF-F8ED-44C6-93BD-CF908DA67AD2</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_30535CDF-F8ED-44C6-93BD-CF908DA67AD2_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019607843138</real>
				<key>Green Component</key>
				<real>0.30588235294117649</real>
				<key>Red Component</key>
				<real>0.83529411764705885</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2901960784</real>
				<key>Green Component</key>
				<real>0.79215686269999996</real>
				<key>Red Component</key>
				<real>0.72549019609999998</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2784313725</real>
				<key>Green Component</key>
				<real>0.7725490196</real>
				<key>Red Component</key>
				<real>0.90588235289999997</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85490196080000003</real>
				<key>Green Component</key>
				<real>0.65098039220000004</real>
				<key>Red Component</key>
				<real>0.47843137250000001</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.84705882349999995</real>
				<key>Green Component</key>
				<real>0.59215686270000001</real>
				<key>Red Component</key>
				<real>0.76470588240000004</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69411764710000001</real>
				<key>Green Component</key>
				<real>0.75294117650000003</real>
				<key>Red Component</key>
				<real>0.43921568630000002</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.29019607843137252</real>
				<key>Green Component</key>
				<real>0.792156862745098</real>
				<key>Red Component</key>
				<real>0.72549019607843135</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27843137254901962</real>
				<key>Green Component</key>
				<real>0.77254901960784317</real>
				<key>Red Component</key>
				<real>0.90588235294117647</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85490196078431369</real>
				<key>Green Component</key>
				<real>0.65098039215686276</real>
				<key>Red Component</key>
				<real>0.47843137254901957</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.84705882352941175</real>
				<key>Green Component</key>
				<real>0.59215686274509804</real>
				<key>Red Component</key>
				<real>0.76470588235294112</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69411764705882351</real>
				<key>Green Component</key>
				<real>0.75294117647058822</real>
				<key>Red Component</key>
				<real>0.4392156862745098</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.39476680755615234</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.39476680755615234</real>
				<key>Red Component</key>
				<real>0.39476680755615234</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019610000002</real>
				<key>Green Component</key>
				<real>0.30588235289999999</real>
				<key>Red Component</key>
				<real>0.83529411760000005</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.081531524658203125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.081531524658203125</real>
				<key>Red Component</key>
				<real>0.081531524658203125</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Badge Text</key>
			<string></string>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Blur Radius</key>
			<real>12.680094747340426</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769379999995</real>
				<key>Green Component</key>
				<real>0.91671288009999996</real>
				<key>Red Component</key>
				<real>0.91654461620000005</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string>arch -x86_64 /bin/zsh</string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769379999995</real>
				<key>Green Component</key>
				<real>0.91671288009999996</real>
				<key>Red Component</key>
				<real>0.91654461620000005</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Guid</key>
			<string>30535CDF-F8ED-44C6-93BD-CF908DA67AD2</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<false/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>InconsolataNerdFontComplete-Medium 15</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>40</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.26020613312721252</real>
				<key>Green Component</key>
				<real>0.26027005910873413</real>
				<key>Red Component</key>
				<real>0.26022228598594666</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Status Bar</key>
			<true/>
			<key>Silence Bell</key>
			<false/>
			<key>Status Bar Layout</key>
			<dict>
				<key>advanced configuration</key>
				<dict>
					<key>algorithm</key>
					<integer>1</integer>
					<key>auto-rainbow style</key>
					<integer>3</integer>
					<key>font</key>
					<string>Menlo-Regular 12</string>
					<key>remove empty components</key>
					<false/>
				</dict>
				<key>components</key>
				<array>
					<dict>
						<key>class</key>
						<string>iTermStatusBarWorkingDirectoryComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>maxwidth</key>
								<real>+infinity</real>
								<key>minwidth</key>
								<integer>0</integer>
								<key>path</key>
								<string>path</string>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.63</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.63</real>
									<key>Red Component</key>
									<real>0.90000000000000002</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>1</integer>
								<key>auto-rainbow style</key>
								<integer>3</integer>
								<key>font</key>
								<string>Menlo-Regular 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarGitComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>iTermStatusBarGitComponentPollingIntervalKey</key>
								<real>2</real>
								<key>maxwidth</key>
								<real>+infinity</real>
								<key>minwidth</key>
								<integer>0</integer>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.63</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.90000000000000002</real>
									<key>Red Component</key>
									<real>0.67859999999999998</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>1</integer>
								<key>auto-rainbow style</key>
								<integer>3</integer>
								<key>font</key>
								<string>Menlo-Regular 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarSpringComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>iTermStatusBarSpringComponentSizeMultipleKey</key>
								<integer>1</integer>
								<key>iTermStatusBarSpringComponentSpringConstantKey</key>
								<real>0.01</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.90000000000000002</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.72719999999999996</real>
									<key>Red Component</key>
									<real>0.63</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>1</integer>
								<key>auto-rainbow style</key>
								<integer>3</integer>
								<key>font</key>
								<string>Menlo-Regular 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarJobComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>maxwidth</key>
								<real>+infinity</real>
								<key>minwidth</key>
								<integer>0</integer>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.77580000000000005</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.63</real>
									<key>Red Component</key>
									<real>0.90000000000000002</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>1</integer>
								<key>auto-rainbow style</key>
								<integer>3</integer>
								<key>font</key>
								<string>Menlo-Regular 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>4</integer>
			<key>Title Components</key>
			<integer>2</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unicode Version</key>
			<integer>9</integer>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Custom Tab Title</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/notahat</string>
		</dict>
	</array>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PerPaneBackgroundImage</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>SeparateStatusBarsPerPane</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.30180911610427408</real>
	<key>StatusBarPosition</key>
	<integer>1</integer>
	<key>StretchTabsToFillBar</key>
	<false/>
	<key>SuppressRestartAnnouncement</key>
	<true/>
	<key>TabStyle</key>
	<integer>1</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>TabsHaveCloseButton</key>
	<false/>
	<key>TerminalMargin</key>
	<integer>10</integer>
	<key>TerminalVMargin</key>
	<integer>4</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Profiles</string>
	</array>
	<key>UseBorder</key>
	<false/>
	<key>UseLionStyleFullscreen</key>
	<true/>
	<key>UseMetal</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>Window Arrangements</key>
	<dict/>
	<key>WindowNumber</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>disableMetalWhenUnplugged</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>1</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
